@media only screen and (min-width: 695px) {
    
.navigation li:first-child {
    display: none;
}

.navigation li {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    color: #252323;
    min-width: 600px;
    background-color: #fefeff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #6b6054;
}

a:visited {
    color: #7CC98A;
}

nav {
    border-top: 5px solid #ffbb99;
    border-bottom: 5px solid #ffbb99;
    padding-right: 20px;
    margin-top: 50px;
}

header h1 {
    text-align: center;
    margin-bottom: -40px;
    margin-top: 70px;

}

header img {
    float: left;
    margin-left: 15px;
    margin-right: -40px;
    margin-top: -60px;
}

section {
    clear: both;
}

section h1 {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

form {
    display: flex;
    flex-flow: column;
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #cfcbe2;
    border-radius: 5px;
    padding: 10px;
}

#home img {
    display: block;
    max-width: 100%;

    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#amenities ul {
    list-style-type: disc;
    display: inline-block;
}

#amenities li {
    padding: 3px;
}

#figures {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #CFCBE2;
}

figure img, figcaption {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 10px;
}

#frame {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


}

.images {
    display: grid;
    grid-template-columns: 50% 50%;
}

main p {
    max-width: 75%;
}







