@media only screen and (min-width: 900px) {

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    width: 85%;
    margin: auto;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

header img {
    margin-bottom: 10px;
}

.summary img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#forecast {
    display: block;
    width: max-content;
    margin: 10px auto 10px auto;
}

#forecast h2 {
    padding: 5px;
    text-align: center;
}

#forecast img {
    margin-top: -130px;
    margin-bottom: -100px;
}

.story img {
    display: block;
    float: right;
    margin-left: 10px;
    width: 25%;
    height: auto;
    
}

.story p {
    padding-bottom: 15%;
}


footer, address {
    display: block;
    text-align: left;
}

#footerbar {
    padding: 5px;
    clear: both;
}


address {
    display: block;
    float: left;
    margin-left: 0;
    padding-left: 25px;
    line-height: 2em;
}

#social {
    display: block;
    float: left;
    margin: 10px;
    padding-right: 50px;

}

iframe {
    display: block;
    width: max-content;
    margin: 5px auto 5px auto;
}

#images {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-gap: 0;
}

.stormHeadings {
    margin-left:17%
}

form {
    margin-left: 25%
}

#thanks {
    font-size: larger;
}


}